* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }
  
  .topHeader {
    width: 980px;
    height: 130px;
    margin: auto;
  }
  
  .headerNav {
   
    margin: 0px auto;
    width: 978px;
   
    border-top: 3px solid #dd7923;
    border-bottom: 5px solid #d1cccc;
    border-left: 1px solid #d1cccc;
    border-right: 1px solid #d1cccc;
    min-height: 30px;
    background-color: white;
  }
  
  .headerNav ul li {
    display: inline;
    padding: 10px;
  }
  
  .headerNav ul li a {
    text-decoration: none;
    color: #60585c;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid #d9dbdd;
    /* padding: 10px !important; */
  }
  
  .headerNav ul li a:hover {
    background-color: #b6aab03d;
    cursor: pointer;
  }
  
  /* BODY */
  .page {
    width: 980px;
    height: auto;
    float: inherit;
    text-align: left;
    vertical-align: top;
    margin: 3px auto;
    clear: both;
  }
  
  .page-left {
    width: 650px;
    float: left;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 1px;
    position: absolute;
  }
  
  .carousel-item img {
    width: 650px;
    height: 350px;
  }
  
  .page-right {
    width: 308px;
    float: right;
    padding-left: -1px;
    background-color: white;
  }
  
  .content-link {
    background-image: linear-gradient(to right, #1d6bb5, #52beeb);
    height: 55px;
    margin-left: -15px;
    margin-bottom: 4px;
    width: 322px;
    padding-top: 15px;
  }
  .content-link:hover{
    opacity: 0.8;
  }
  
  .content-link a {
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .online {
    border-right: 3px solid white;
    text-align: center;
    padding-top: 12px ;
    padding-bottom: 15px;
    padding-right: 10px;
  }

  
  
  .newNotification {
    margin-left: -20px;
  }
  
  /* FOOTER  */
  .footer {
    /* width: auto;
    float: left;
    height: 100px;
    text-align: left;
    background-color: #007c7c;
    min-height: 100px;
    margin: auto;
    margin-top: 200px;
    margin-left: 5px; */
    width: 100%;
    float: left;
    height: 100px;
    text-align: left;
    /* background-color: #007c7c; */
    min-height: 100px;
    display: inline;
  }
  
  .footertMain {
    width: 100%;
    float: left;
    text-align: left;
    vertical-align: top;
    height: 40px;
    min-height: 40px;
  }
  
  .divttbanquyen {
    width: 440px;
    float: left;
    height: 100%;
    color: white;
    padding-top: 20px;
    /* margin-left: 140px; */
  }
  
  .divmenu {
    float: right;
    width: 305px;
    
    padding-left: 50px;
    min-height: 100px;
   

    
  }
  
  .socialName {
    color: white;
    padding-top: 23px;
    font-weight: bold;
  }
  
  .socialIcon {
    padding-top: 3px;
    margin-left: -250px;

  }
  
  .footerLast {
    width: 100%;
    float: left;
    height: 55px;
    text-align: left;
    background-color: #0f5658;
    min-height: 55px;
  }
  
  .footertMain {
    margin: 0px;
    padding: 0px;
    width: 980px;
    float: inherit;
    text-align: left;
    vertical-align: top;
    display: inline;
  }
  .socialIcon img{
    padding-right: 4px;
  }
  .footerMainLeft {
    margin-left: 140px;
  }
  
  .footerMainLeft a {
    color: white;
    text-decoration: none;
    padding: 0px 3px;
  }
  .notification{
    margin-top: 7px;
    float: left;
    width: 308px;
    height: 320px;
    
  
  }
  .newNotification{
   
    margin-top: 15px;
    vertical-align: top;
    text-align: left;
    background-color: #f5f6f1;
    padding: 8px 20px;
  }
  .newNotification h4{
    color: #ee2e2a;
    padding-bottom: 10px;
  }
  .newNotification ul li{
    margin-bottom: 6px;
    padding-left: 8px;
  }
  .newNotification ul li a{
    color: #636363;
    text-decoration: none;
  }
  .newNotification ul li a:hover{
    color: #dd7923;
  }
  .dropdown {
    margin-top: 6px;
}